body{
    margin-top: 70px;;
    font-size:16px
}

h1,h2,h3,h4,h5,h6{
    font-family: Poppins;
}

p{
    font-family: Roboto;
}

.navbar{
    background-color: #fff;
    border: 0;
    font-family:  Poppins;


    


    .navbar-brand{
        font-size: 20px;
        color: #000;
        font-weight: bold;
    }


}

#showcase {
    h1{font-size: 50px;}


    img{
        width: 90%;
        margin-left: 60px;
    }


    .showcase-right{
        margin-top: 90px;
    }
}



.testimonial{
    background-color: #f1f1f1;
    padding: 60px 0 30px 0;
    text-align: center;
    margin-top: 40px;

    p{
        font-size: 32px;
        font-family: 'Josefin Sans';
        color: #000;

    }

    .customer{
        font-size: 20px;
        color: #666;
    }
}

#info1{
    .info-right{
        margin-top: 190px;


    }


}


#info2{
    margin: 20px 0 60px 0;
}


#contact{
    background: url(/bs4/img/image3.png);
    padding: 40px;
    color: #fff;
    border-top: #333 7px solid;
    border-bottom: #333 7px solid;



}

footer{
    padding: 30px;
}